.card_container {
    width: 50%;
    position: relative;
    margin-bottom: 20px;
  
    .card_image {
      width: 100%;
      height: auto;
      aspect-ratio: 1.41;
      display: block;
    }
  
    .card_content {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 20px;
      background-color: rgba(0, 0, 0, 0.5); // Optional for readability
      color: white;
      text-align: center;
  
      .card_title {
        font-size: 24px;
        font-weight: 400;
        margin: 0;
      }
  
      .card_description {
        font-size: 14px;
        margin: 10px 0;
      }
  
      .card_button {
        background-color: rgba(34, 32, 32, 1);
        border: 1px solid white;
        color: white;
        padding: 10px;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
        width: 100%;
        margin-top: 20px;
      }
    }
  }
  